  /* Styles for navigation bar */
  nav {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
   
  }

  nav img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }

  nav a:hover {
    background-color: gray;
    color: black;
  }

  /* Styles for hero image and header */
  .hero {
    background-image: url('bball.jpg');
    height: 1000px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    width: 100%;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600; 
  }

  /* Styles for call to action button */
  .cta {
    margin-top: 10px;
    display: block;
    text-align: center;
  }

  .cta a {
    background-color: orange;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .cta a:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  /* Styles for footer */
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }

  footer a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer a:hover {
    background-color: gray;
    transform: scale(1.2);
  }

  .disclaimer {
    font-size: 15px;
    margin-top: 20px;
  }